html
  body
    p Welcome to NestjsSkeleton 🎉 Your account has been successfully created. You can now login to the NestjsSkeleton app.
    br
    p Here are your login details:
    p Username: #{email}
    p Temporary Password: #{password}
    br
    p For your security, we recommend that you change your password after logging in. You can do this easily from the settings section in the app.
    br
    p If you have any questions or need help getting started, feel free to reach out to us!
    br
    p Cheers,
    p The NestjsSkeleton Team ☕